<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inved.lux4worship">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_appli"
        android:label="@string/app_name_smartphone"
        android:roundIcon="@mipmap/ic_logo_appli_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".controller.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".controller.activity.ProfileActivity" />
        <activity android:name=".controller.activity.MyDatesActivity" />
        <activity android:name=".controller.activity.ConnexionActivity" />
        <activity android:name=".controller.activity.FindMyChurchActivity" />
    </application>



</manifest>